.I360 {
    height: 100vh;
    margin: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  #Slider {
    width: 700px;
  }

  #canvas{
    width:768;
    height:512px;
  }
  #carrousel{
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   -ms-flex-item-align: center;
  }

  .pageHeader{
    background-image: url('//stockx-assets.imgix.net/Core/browse-header-sneakers.jpg');
    text-align: center;
    background-repeat: no-repeat;
    max-width: auto;
    height: 40vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .card-body>img{
      max-width: 18rem;
  }

  .row{
    margin: 5rem
  }

  .card-header{
    height: 5rem;
  }

  footer{
    height: 5rem;
    text-align: center;
  }

  footer>h2{
    color: azure;
  }